<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>职级管理</title>
    <link rel="stylesheet" type="text/css" href="{% static "mysite/css/easyui_themes/default/easyui.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "mysite/css/easyui_themes/icon.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "mysite/css/easyui_demo/demo.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "mysite/css/login_css/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
    <script type="text/javascript" src="{% static "mysite/js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "mysite/js/jquery.easyui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "mysite/js/jquery.cookie.js" %}"></script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="NONE,NOARCHIVE">
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({
                beforeSend:function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFtoken", $.cookie("csrftoken"))
                }
            });
        });
    </script>
    <style type="text/css">
        #employee_level_container {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <div id="employee_level_container">
        <table id="dg" class="easyui-datagrid" title="" style="width:100%;height:400px"
            data-options="singleSelect:true,url:'employee_level_json',method:'get',toolbar:toolbar">
            <thead>
                <tr>
                    <th data-options="field:'level_id',width:150">职级ID</th>
                    <th data-options="field:'level_order',width:150">职级Order</th>
                    <th data-options="field:'level_name',width:300">职级</th>
                    <th data-options="field:'next_level_id',width:150,align:'right'">下一职级ID</th>
                    <th data-options="field:'next_level_order',width:150,align:'right'">下一职级Order</th>
                    <th data-options="field:'next_level_name',width:300,align:'right'">下一职级</th>
                </tr>
            </thead>
        </table>
        <script type="text/javascript">
            var toolbar = [{
                text:'Add',
                iconCls:'icon-add',
                handler:function(){
                    $('#dlg_edit').dialog('close')
                    $('#dlg').dialog('open')
                }
            },{
                text:'Del',
                iconCls:'icon-cancel',
                handler:function(){
                    var row = $('#dg').datagrid('getSelected');
                    if (row){
                        if (!confirm("确认删除职级" + row.level_name + "?!")) {
                            return;
                        }
                        $.ajax({
                             type: "POST",
                             url: "employee_level_del",
                             data: {employee_level_id: row.level_id},
                             dataType: "json",
                             success: function(data){
                                 data = parseInt(data);
                                 console.log(data);
                                 if (data == 1) {
                                     var rowIndex = $('#dg').datagrid('getRowIndex', row);
                                     $('#dg').datagrid('deleteRow', rowIndex);
                                 }
                             }
                        });
                    }
                }
            },{
                text:'Edit',
                iconCls:'icon-edit',
                handler:function(){
                    var row = $('#dg').datagrid('getSelected');
                    if (row){
                        $("#edit_id").val(row.level_id);
                        $('#edit_id_name').val(row.level_name);
                        $('#edit_level_order').val(row.level_order);
                        var next_level_id = row.next_level_id;
                        if (next_level_id == "-")
                            next_level_id = -1;
                        $('#edit_next_level_id').val(next_level_id);
                        $('#dlg').dialog('close');
                        $('#dlg_edit').dialog('open');
                    }

                }
            }];
        </script>
    </div>
    <div id="dlg" class="easyui-dialog" title="添加职级" data-options="iconCls:'icon-add'" style="width:600px;height:400px;padding:10px;" closed="true">
        <div id="content" class="colM">
            <h1>Add Level</h1>
            <div id="content-main">
                <form action="employee_level_add" method="post" id="employee_level_form" novalidate="">
                    {% csrf_token %}
                    <div>
                        <fieldset class="module aligned ">
                            <div class="form-row field-name">
                                <div>
                                    <label class="required" for="id_name">Name:</label>
                                    <input type="text" name="employee_level_name" class="vTextField" maxlength="255" required="" id="id_name">
                                </div>
                            </div>
                            <div class="form-row field-parent_id">
                                <div>
                                    <label class="required" for="level_order">Level order:</label>
                                    <input type="number" name="level_order" value="-1" class="vIntegerField" required="" id="level_order">
                                </div>
                             </div>
                             <div class="form-row field-parent_id">
                                <div>
                                    <label class="required" for="next_level_id">Next id:</label>
                                    <input type="number" name="next_level_id" value="-1" class="vIntegerField" required="" id="next_level_id">
                                </div>
                             </div>

                        </fieldset>
                        <div class="submit-row">
                            <input type="submit" value="Save and continue editing" name="_continue">
                        </div>
                    </div>
                </form>
            </div>
            <br class="clear">
        </div>
    </div>

    <div id="dlg_edit" class="easyui-dialog" title="编辑职级" data-options="iconCls:'icon-edit'" style="width:600px;height:400px;padding:10px;" closed="true">
        <div id="edit_content" class="colM">
            <h1>Edit Level</h1>
            <div id="edit-content-main">
                <form action="employee_level_edit" method="post" id="edit_employee_level_form" novalidate="">
                    {% csrf_token %}
                    <div>
                        <fieldset class="module aligned ">
                            <input type="text" name="employee_level_id" class="vTextField" maxlength="255" required="" id="edit_id", style="display: none;">
                            <div class="form-row field-name">
                                <div>
                                    <label class="required" for="edit_id_name">Name:</label>
                                    <input type="text" name="employee_level_name" class="vTextField" maxlength="255" required="" id="edit_id_name">
                                </div>
                            </div>
                            <div class="form-row field-parent_id">
                                <div>
                                    <label class="required" for="edit_level_order">Level order:</label>
                                    <input type="number" name="level_order" value="-1" class="vIntegerField" required="" id="edit_level_order">
                                </div>
                             </div>
                             <div class="form-row field-parent_id">
                                <div>
                                    <label class="required" for="edit_next_level_id">Next id:</label>
                                    <input type="number" name="next_level_id" value="-1" class="vIntegerField" required="" id="edit_next_level_id">
                                </div>
                             </div>

                        </fieldset>
                        <div class="submit-row">
                            <input type="submit" value="Save and continue editing" name="_continue">
                        </div>
                    </div>
                </form>
            </div>
            <br class="clear">
        </div>
    </div>
</body>
</html>